@page
@model new3.Pages.Mentors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mentor[0].LifeSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentor[0].ContinuingEd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentor[0].YouthCoach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mentor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LifeSkills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContinuingEd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YouthCoach)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>